<!-- <div class="container-fluid">
  <div class="d-flex justify-content-between">
    <div class="ms-5" id="user-page-header">
      <p class="ms-5">Users</p>
    </div>
    <div class="me-5 pe-5">
      <button type="button" class="btn btn-primary me-5">+ Add User</button>
    </div>
  </div>
</div> -->
<mat-toolbar
  color="primary"
  class="d-flex justify-content-between align-items-center"
>
  <span class="ms-lg-5">Users</span>
  <button mat-raised-button class="me-lg-5" (click)="addEditUser()">
    + Add User
  </button>
</mat-toolbar>

<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div> -->

<table class="table table-Success table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Adrress</th>
      <!-- <th>Details</th> -->
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address.street }}</td>
      <td>
        <a routerLink="/student/{{ user.id }}"
          ><input type="button" value="Details" class="btn btn-outline-primary"
        /></a>
      </td>
      <td>
        <a routerLink="/student/update/{{ user.id }}">
          <input type="button" value="Update" class="btn btn-outline-success" />
        </a>
      </td>
      <td>
        <input
          type="button"
          value="Delete "
          class="btn btn-outline-danger"
          (click)="deleteStudent(user.id)"
        />
      </td>
    </tr>
  </tbody>
</table>
